@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar scrollbar en Chrome / Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar en Firefox + IE */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}
